/* COMMON */
body{
  font-family: "Noto Sans KR", sans-serif, "Roboto";
}
a {
  color: #333333;
  text-decoration: none;
  display: block;
}
h4 {
  width: 870px;
  height: 31px;
  display: block;
  font-size: 26px;
  font-weight: 700;
  margin: 24px 0;
  padding: 0 15px;
}
footer {
  font-size: 13px;
  line-height: 1.5;
  color: #8c8c8c;
}

/* INNER*/
.inner {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-around;
}

/* HEADER */
header .top {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .inner__left {
  margin-right: 50px;
  justify-content: space;
  align-items: center;
}
header .logo {
  width: 194px;
  height: 40px;
}
header .search {
  width: 570px;
  height: 40px;
  border: 2px solid rgba(112, 112, 112, 0.36);
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
input {
  border: none;
  background-color: none;
  outline: none;
  flex-grow: 1;
}
header .search__icon {
  width: 20px;
  height: 20px;
  margin: 15px;
  cursor: pointer;
}
header .inner__right{
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
  width: 243px;
}
header .right-items {
  display: flex;
}
header .right-items .login,
header .right-items .delivery {
  height: 58px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .right-items .chart {
  height: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .inner_right img {
  width: 32px;
  height: 32px;
}
header .inner__right span {
  display: block;
  margin-top: 8px;
}

/* TABS */
header .bottom {
  width: 100%;
  border: 1px solid #e1e1e1;
}
header .tabs {
  height: 61px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .item-new,
header .item {
  font-size: 14px;
  font-weight: 700;
  list-style-type: none;
  padding: 0 20px;
}
header .item-new {
  position: relative;
}

header .item-new .new {
  color: #7f0019;
  font-size: 10px;
  display: flex;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
}

/* SIDE BAR */
main .side-bar {
  width: 160px;
  padding-bottom: 100px;
  margin: 20px 30px 0 0;
  display: block;
  top: 80px;
}
main aside .top__category {
  height: 160px;
  height: 22px;
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 700;
}
main aside .top__list .list-item{
  width: 160px;
  height: 18px;
  margin-bottom: 14px;
  display: block;
  font-size: 13px;
  color: #333;
  position: relative;
}
main aside .sub__panel {
  display: none;
}


main .sections_wrap{
  background-color: aqua;
}

/* MAIN VISUAL */
main .main__visual{
}

main .visual__content .swiper-container {
  display: block;
  position: relative;
  overflow-x: hidden;
}
main .visual__content > .swiper-container >.swiper-wrapper {
  width: 870px;
  padding: 20px 10px 32px 10px;
}

main .visual__content > .swiper-container > .swiper-wrapper img {
  width: 870px;
}

/* MAIN SECTION */

.main__section .content__list{
  display: block;
  display: flex;
  justify-content: center;

}
.main__section li .section-item {
  width: 270px;
  height: 251px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-right: 15px;
}
.main__section li:last-child {
  margin-right: 0;
}

.main__section .section-item img{
  width: 270px;
  height: 180px;
}
.main__section .section-item .text-box {
  height: 34px;
  padding: 18px 20px;
  font-size: 13px;
  line-height: 1.5;
}

/* MAIN NEW*/
.new__content {
  width: 870px;
  height: 279px;
}
.main__new .swiper-container .swiper-wrapper {
  padding: 0 15px 32px 15px;
}
.main__new .swiper-container .swiper-wrapper .swiper-slide {
  width: 195px;
}
.main__new .swiper-container .swiper-wrapper .swiper-slide a {
  width: 195px;
}
.main__new .swiper-container .swiper-wrapper .swiper-slide img {
  width: 195px;
  height: 195px;
}
.main__new .swiper-container .swiper-wrapper .swiper-slide .text-box {
  width: 195px;
  height: 64px;
  font-size: 13px;
  line-height: 1.3;
}

.main__new .swiper-container .swiper-wrapper .swiper-slide .text-box .price-before{
  text-decoration: line-through;
}
.main__new .swiper-container .swiper-wrapper .swiper-slide .text-box .price-after{
  font-size: 18px;
}

/* MAIN NOTICE */
.main__notice .notice_content {
  margin-bottom: 70px;
}
.main__notice .notice_content ul{
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(5, 173px);
  justify-content: center;
  justify-items: center;
}
.main__notice .notice_content > ul > li {
  padding: 15px 0;
}
.main__notice .notice_content ul li img{
  width: 120px;
}


/* MAIN BOTTOM LEFT */
.main__bottom .bottom__left {
  width: 370px;
  height: 172px;
}
.main__bottom .bottom__left .magazine {
  margin-top: 18px;
}
.main__bottom .bottom__left p{
  color: #333;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.main__bottom .bottom__left span{
  font-size: 13px;
  color: #8c8c8c;
  display: block;
  margin-top: 3px;
  line-height: 1.2;
}
.main__bottom .bottom__left .text_link {
  font-size: 13px;
  font-weight: 700;
  color: #333c;
  display: block;
  margin-top: 10px;
}

/* MAIN BOTTOM RIGHT */
.main__bottom {
  display: flex;
  justify-content: center;
}
.main__bottom .bottom__right {
  width: 500px;
  height: 172px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.main__bottom .bottom__right img {
  width: 240px;
  height: 76px;
}


/* FOOTER */
footer {
  border-top: 1px solid #e1e1e1;
  background-color: #f2f2f2;
  justify-content: center;
}

/* FOOTER TOP */
footer .footer__top {
  border-bottom: 1px solid #e1e1e1;
  margin-top: 15px;

}
footer .footer__top .top__inner {
  height: 31px;
  padding-bottom: 12px;
  margin: 0 113px;
  display: flex;
  justify-content: center;
}
footer .footer__top .top__inner .top__menu {
  width: 950px;
  display: flex;
}
footer .footer__top .top__inner .top__menu li {
  margin-right: 20px;
  font-weight: 700;
}

/* FOOTER INNER */
footer .inner {
  padding: 30px 0 50px 0;
  margin: 0 113px;
  display: flex;
  justify-content: center;
}
footer .inner .logo__area {
  width: 116px;
  height: 250px;
  margin-right: 48px;
}
footer .inner .logo__area img {
  width: 155px;
  height: 36px;
}
footer .inner .content__area {
  width: 896px;
  height: 250px;
}
footer .menu {
  width: 896px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}
footer .menu li a.bold{
  font-weight: 700;
}
footer .content-wrapper {
  display: flex;
  justify-content: center;
}

/* FOOTER INNER LEFT */
footer .content__left {
  width: 515px;
  border-right: 1px solid #e1e1e1;
}
footer .info {
  height: 97px;
  margin-top: 30px;
}

footer .customer-center {
  width: 515px;
  height: 44px;
  margin-top: 20px;
}
footer .customer-center .number {
  color: #333;
  text-decoration: underline;
}

footer .customer-center .email {
  color: #333;
  margin: 0 6px;
}

/* FOOTER INNER RIGHT */
footer .content__right {
  width: 343px;
  padding-left: 36px;

}
footer .content__right .guide{
  margin: 30px 0 10px 0;
}
footer .content__right .title {
  margin-right: 8px;
  color: #333333;
}
footer .content__right .guarantee .content{
  width: 343px;
  margin-top: 16px;
  display: block;
}


/* FOOTER INNER BOTTOM */
footer .copyright {
  color: #333333;
  margin-top: 12px;

}