/* COMMON */
body{
  font-family: "Noto Sans KR", sans-serif, "Roboto";
  line-height: 1.5;
  color: #666;
}
main {
  display: flex;
  justify-content: center;
}
a {
  color: #333333;
  text-decoration: none;
  display: block;
}
h4 {
  width: 870px;
  height: 31px;
  display: block;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  margin: 70px 0 40px 0;
  padding: 0 15px;
}
footer {
  font-size: 13px;
  color: #8c8c8c;
}

/* INNER*/
.inner {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-around;
}

/* HEADER TOP */
header .top {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .inner__left {
  margin-right: 50px;
  justify-content: space;
  align-items: center;
}
header .logo {
  width: 194px;
  height: 40px;
}
header .search {
  width: 570px;
  height: 40px;
  border: 2px solid rgba(112, 112, 112, 0.36);
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
input {
  border: none;
  background-color: none;
  outline: none;
  flex-grow: 1;
}
header .search__icon {
  width: 20px;
  height: 20px;
  margin: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .inner__right{
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
  width: 243px;
}
header .right-items {
  display: flex;
}
header .right-items .login,
header .right-items .delivery {
  height: 58px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .right-items .chart {
  height: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .inner_right img {
  width: 32px;
  height: 32px;
}
header .inner__right span {
  display: block;
  margin-top: 8px;
  color: #333;
}

/* HEADER BOTTOM */
header .bottom {
  width: 100%;
  border: 1px solid #e1e1e1;
}
header .tabs {
  height: 61px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .item-new,
header .item {
  font-size: 14px;
  font-weight: 700;
  list-style-type: none;
  padding: 0 20px;
}
header .item-new {
  position: relative;
}
header .item-new .new {
  color: #7f0019;
  font-size: 10px;
  display: flex;
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
}
header .item-btn {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  list-style-type: none;
  padding: 0 20px;
} 
header .item-btn .btn-red {
  position: absolute;
  right: 15px;
  top: -2px;
  width: 5px;
  height: 5px;
  background-color: #7f0019;
  border-radius: 100%;
}

/* SIDE BAR */
main .side-bar {
  width: 160px;
  padding-bottom: 100px;
  margin: 20px 30px 0 0;
  display: block;
  top: 80px;
}
main aside .side__category{
  height: 160px;
  height: 22px;
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 700;
  color: #333;
}
main aside .side-box {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
main aside .side-box:last-child {
  border-bottom: none;
}
main aside .category__list {
  position: relative;
}
main aside .category__list .side__menu{
  width: 160px;
  height: 18px;
  margin-bottom: 14px;
  display: block;
  font-size: 13px;
}
main aside .category__list li {
  font-size: 13px;
  
}
main aside .category__list ul {
  width: 240px;
  padding: 20px;
  border: 1px solid #8c8c8c;
  line-height: 2;
  background-color: #fff;
}
main aside .category__list .item-name {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
main aside .category__list .menu__sub {
  display: none;
}
main aside .category__list:hover .menu__sub {
  display: block;
  position: absolute;
  left: 160px;
  top: -30px;
  z-index: 2;
}
main aside .category__list .menu__sub a:hover {
  text-decoration: underline;
}



main .sections-wrapper{
}

/* MAIN VISUAL */
.swiper {
  width: 870px;
  margin: 20px 10px 0 10px;
}
.main__visual .swiper-wrapper {
  padding-bottom: 40px;
}
.main__visual .swiper-pagination-bullet {
  background-color: #000;
}
.main__visual .swiper-button-prev{
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: transparent;
  color: #666;
  left: -5px;
  top: 45%;
}
.main__visual .swiper-button-next{
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: transparent;
  color: #666;
  right: -5px;
  top: 45%;
}

/* MAIN SECTION */
.main__section .content__list{
  width: 900px;
  display: block;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main__section li .section-item {
  width: 270px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
}
.main__section .section-item img{
  width: 270px;
  height: 180px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.main__section .section-item .text-box {
  height: 34px;
  padding: 18px 20px;
  font-size: 13px;
}

/* MAIN NEW*/
.main__new .swiper{
}
.main__new .swiper-wrapper {
}
.main__new .swiper-slide {
  width: 195px;
  display: flex;
  justify-content: center;
}
.main__new .swiper-wrapper .swiper-slide img {
}
.main__new .swiper-wrapper .swiper-slide .text-box {
  width: 195px;
  font-size: 13px;
  margin-top: 10px;
}
.main__new .swiper-wrapper .swiper-slide .text-box .price-before{
  text-decoration: line-through;
  margin-top: 5px;
}
.main__new .swiper-wrapper .swiper-slide .text-box .price-after{
  font-size: 18px;
  margin-top: 5px;
}
.main__new .swiper-button-prev {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: url(./Images/icon-left.png);
  background-repeat: no-repeat;
  color: transparent;
  top: 38%;
}
.main__new .swiper-button-next {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: url(./Images/icon-right.png);
  background-repeat: no-repeat;
  color: transparent;
  top: 38%;
}

/* MAIN MDPICK*/
.main__mdpick .swiper{
}
.main__mdpick .swiper-wrapper {
}
.main__mdpick .swiper-slide {
  width: 195px;
  display: flex;
  justify-content: center;
}
.main__mdpick .swiper-wrapper .swiper-slide img {
}
.main__mdpick .swiper-wrapper .swiper-slide .text-box {
  width: 195px;
  font-size: 13px;
  margin-top: 10px;
}
.main__mdpick .swiper-wrapper .swiper-slide .text-box .price-after{
  font-size: 18px;
  margin-top: 5px;
}
.main__mdpick .swiper-button-prev {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: url(./Images/icon-left.png);
  background-repeat: no-repeat;
  color: transparent;
  top: 38%;
}
.main__mdpick .swiper-button-next {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: url(./Images/icon-right.png);
  background-repeat: no-repeat;
  color: transparent;
  top: 38%;
}

/* MAIN SALE*/
.main__sale .content__list{
  width: 900px;
  display: block;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.main__sale li .section-item {
  width: 270px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
}
.main__sale .section-item img{
  width: 270px;
  height: 180px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.main__sale .section-item .text-box {
  height: 34px;
  padding: 18px 20px;
  font-size: 13px;
}

/* MAIN SEASON*/
.main__season .swiper{
}
.main__season .swiper-wrapper {
}
.main__season .swiper-slide {
  width: 195px;
  display: flex;
  justify-content: center;
}
.main__season .swiper-wrapper .swiper-slide img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.main__season .swiper-wrapper .swiper-slide .text-box {
  width: 195px;
  font-size: 13px;
  margin-top: 10px;
}
.main__season .swiper-wrapper .swiper-slide .text-box .title {
  font-weight: 700;
}
.main__season .swiper-wrapper .swiper-slide .text-box .info{
  margin-top: 10px;
  line-height: 1.2;
}
.main__season .swiper-button-prev {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: url(./Images/icon-left.png);
  background-repeat: no-repeat;
  color: transparent;
  top: 38%;
}
.main__season .swiper-button-next {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: url(./Images/icon-right.png);
  background-repeat: no-repeat;
  color: transparent;
  top: 38%;
}

/* MAIN NOTICE */
.main__notice .notice_content {
  margin-bottom: 120px;
}
.main__notice .notice_content ul{
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(5, 173px);
  justify-content: center;
  justify-items: center;
}
.main__notice .notice_content > ul > li {
  padding: 15px 0;
}
.main__notice .notice_content ul li img{
  width: 120px;
}


/* MAIN BOTTOM LEFT */
.main__bottom {
  margin-bottom: 100px;
}

.main__bottom .bottom__left {
  width: 370px;
  height: 172px;
}
.main__bottom .bottom__left .magazine {
  margin-top: 5px;
}
.main__bottom .bottom__left p{
  color: #333;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.main__bottom .bottom__left span{
  font-size: 13px;
  color: #8c8c8c;
  display: block;
  margin-top: 3px;
  line-height: 1.2;
}
.main__bottom .bottom__left .text_link {
  font-size: 13px;
  font-weight: 700;
  color: #333c;
  display: block;
  margin-top: 5px;
}

/* MAIN BOTTOM RIGHT */
.main__bottom {
  display: flex;
  justify-content: center;
}
.main__bottom .bottom__right {
  width: 500px;
  height: 172px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.main__bottom .bottom__right img {
  width: 240px;
  height: 76px;
}

/* MAIN POST IMG */
.main__post-img {
  display: block;
  padding: 0 10px;
}

/* MAIN FURNITURE */
.main__furniture .swiper-slide {
  display: flex;
  justify-content: center;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 70px;
}
.main__furniture .swiper-wrapper .swiper-slide > img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.main__furniture .swiper-wrapper .swiper-slide .text-box {
  height: 34px;
  padding: 18px 20px;
  font-size: 13px;
}
.main__furniture .swiper-button-prev {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: url(./Images/icon-left.png);
  background-repeat: no-repeat;
  color: transparent;
  top: 32%;
}
.main__furniture .swiper-button-next {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: url(./Images/icon-right.png);
  background-repeat: no-repeat;
  color: transparent;
  top: 32%;
}


/* TOP BUTTON */
/* #to-top {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 3;
} */


/* FOOTER */
footer {
  border-top: 1px solid #e1e1e1;
  background-color: #f2f2f2;
  justify-content: center;
}
/* FOOTER BUTTON */
footer .footer-btn {
  width: 109px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  padding: 6px 12px;
  text-align: center;
  box-sizing: border-box;
}
footer .footer-btn-small {
  display: inline-block;
  padding: 0 8px;
  margin: 8px 0; 
  border: 1px solid #e1e1e1;
  background-color: #fff;
  font-size: 12px;
  line-height: 22px;
  box-sizing: border-box;
}
/* FOOTER TOP */
footer .footer__top {
  border-bottom: 1px solid #e1e1e1;
  margin-top: 15px;

}
footer .footer__top .top__inner {
  height: 31px;
  padding-bottom: 12px;
  margin: 0 113px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__top .top__inner .top__menu {
  width: 950px;
  display: flex;
}
footer .footer__top .top__inner .top__menu li {
  margin-right: 20px;
  font-weight: 700;
}

/* FOOTER INNER */
footer .inner {
  padding: 30px 0 50px 0;
  margin: 0 113px;
  display: flex;
  justify-content: center;
}
footer .inner .logo__area {
  width: 116px;
  height: 250px;
  margin-right: 48px;
}
footer .inner .logo__area img {
  width: 155px;
  height: 36px;
}
footer .inner .content__area {
  width: 896px;
  height: 250px;
}
footer .menu {
  width: 896px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
footer .menu li a.bold{
  font-weight: 700;
}
footer .content-wrapper {
  display: flex;
  justify-content: center;
}

/* FOOTER INNER LEFT */
footer .content__left {
  width: 515px;
}
footer .info {
  height: 97px;
}

footer .customer-center {
  width: 515px;
  height: 44px;
  margin-top: 20px;
}
footer .customer-center .number {
  color: #444;
  text-decoration: underline;
}

footer .customer-center .email {
  color: #444;
  margin: 0 6px;
}

/* FOOTER INNER RIGHT */
footer .content__right {
  width: 343px;
  padding-left: 36px;
  border-left: 1px solid #e1e1e1;
}
footer .content__right .guide{
  margin-bottom: 10px ;
}
footer .content__right .title {
  margin-right: 8px;
  color: #444;
}
footer .content__right .guarantee .content{
  width: 343px;
  margin-top: 16px;
  display: block;
}


/* FOOTER INNER BOTTOM */
footer .copyright {
  color: #333333;
  margin-top: 12px;
}
