/* COMMON */
body{
  font-family: "Noto Sans KR", sans-serif, "Roboto";
  line-height: 1.5;
  color: #666;
}
main {
  display: flex;
  justify-content: center;
}
a {
  color: #333333;
  text-decoration: none;
  display: block;
}
footer {
  font-size: 13px;
  color: #8c8c8c;
}


/* HEADER TOP */
header .top {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .inner {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-around;
}
header .inner--left {
  margin-right: 50px;
  justify-content: space;
  align-items: center;
}
header .inner--left .logo {
  width: 194px;
  height: 40px;
}
header .inner .search {
  width: 570px;
  height: 36px;
  border: 2px solid rgba(112, 112, 112, 0.36);
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex: 1;
  align-items: center;
}
header .inner .search input {
  border: none;
  background-color: none;
  outline: none;
  flex-grow: 1;
}
header .inner .search .search-icon {
  width: 20px;
  height: 20px;
  margin: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .inner--right{
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
  width: 243px;
}
header .inner--right .right-items {
  display: flex;
}
header .right-items .login,
header .right-items .delivery,
header .right-items .chart {
  margin-right: 25px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header .right-items .chart {
  margin-right: 0;
}
header .inner--right span {
  display: block;
  margin-top: 8px;
  color: #333;
}


/* HEADER BOTTOM */
header .main-menu {
  width: 100%;
  border: 1px solid #e1e1e1;
}
header .tabs,
header .tabs a {
  height: 61px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
header .tabs .item-new,
header .tabs .item {
  font-size: 14px;
  font-weight: 700;
  list-style-type: none;
  padding: 0 20px;
}
header .tabs .item-new {
  position: relative;
}
header .tabs .item-new .new {
  color: #7f0019;
  font-size: 10px;
  display: flex;
  position: absolute;
  bottom: 38px;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
  z-index: 5;
}
header .tabs .item-btn {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  list-style-type: none;
  padding: 0 20px;
} 
header .tabs .item-btn .btn-red {
  position: absolute;
  right: 25px;
  bottom: 38px;
  width: 5px;
  height: 5px;
  background-color: #7f0019;
  border-radius: 100%;
}
header .tabs li:hover a {
  border-bottom: 2px solid #333;
}


/* SIDE BAR */
.side {
  width: 160px;
  padding-bottom: 100px;
  margin: 15px 10px 0 0;
  display: block;
  top: 80px;
}
.side .sidebar {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.side .container:last-child {
  border-bottom: none;
}
.side .category{
  height: 160px;
  height: 22px;
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 700;
  color: #333;
}
.side .sub-menu {
  position: relative;
}
.side .sub-menu .sub-menu__title{
  width: 160px;
  height: 18px;
  margin-bottom: 14px;
  display: block;
  font-size: 13px;
}
.side .sub-menu li {
  font-size: 13px;
}
.side .sub-menu ul {
  width: 240px;
  padding: 20px;
  border: 1px solid #8c8c8c;
  line-height: 2;
  background-color: #fff;
}
.side .sub-menu .item-name {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
.side .sub-menu ul {
  display: none;
}
.side .sub-menu:hover ul {
  display: block;
  position: absolute;
  left: 160px;
  top: -30px;
  z-index: 2;
}
.side .sub-menu ul a:hover {
  text-decoration: underline;
}


/* MAIN VISUAL */
.swiper {
  width: 870px;
  margin: 20px 10px 0 10px;
}
.main__visual .swiper-wrapper {
  padding-bottom: 40px;
}
.main__visual .swiper-pagination-bullet {
  background-color: #000;
}
.main__visual .swiper-button-prev{
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: transparent;
  color: #666;
  left: -5px;
  top: 45%;
}
.main__visual .swiper-button-next{
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: transparent;
  color: #666;
  right: -5px;
  top: 45%;
}


/* MAIN SPECIAL */
.main__special h4 {
  width: 870px;
  height: 31px;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  display: block;
  margin: 40px 0 30px 10px;
  padding: 0 15px;
}
.main__special .content__list{
  width: 900px;
  display: block;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main__special li .section-item {
  width: 270px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
}
.main__special .section-item img{
  width: 270px;
  height: 180px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.main__special .section-item .text-box {
  height: 34px;
  padding: 18px 20px;
  font-size: 13px;
}


/* MAIN NEW*/
.main__new h4 {
  width: 870px;
  height: 31px;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  display: block;
  margin: 40px 0 30px 10px;
  padding: 0 15px;
}
.main__new .swiper-slide {
  width: 195px;
  display: flex;
  justify-content: center;
}
.main__new .swiper-wrapper .swiper-slide .text-box {
  width: 195px;
  font-size: 13px;
  margin-top: 10px;
}
.main__new .swiper-wrapper .swiper-slide .text-box .price-before{
  text-decoration: line-through;
  margin-top: 5px;
}
.main__new .swiper-wrapper .swiper-slide .text-box .price-after{
  font-size: 18px;
  margin-top: 5px;
}
.main__new .swiper-button-prev,
.main__new .swiper-button-next {
  visibility: hidden;
}
.main__new .swiper-button-prev span,
.main__new .swiper-button-next span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  visibility: visible;
  display: block;
  justify-content: center;
}

/* MAIN MDPICK*/
.main__mdpick h4 {
  width: 870px;
  height: 31px;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  display: block;
  margin: 40px 0 30px 10px;
  padding: 0 15px;
}
.main__mdpick .swiper-slide {
  width: 195px;
  display: flex;
  justify-content: center;
}
.main__mdpick .swiper-wrapper .swiper-slide .text-box {
  width: 195px;
  font-size: 13px;
  margin-top: 10px;
}
.main__mdpick .swiper-wrapper .swiper-slide .text-box .price-after{
  font-size: 18px;
  margin-top: 5px;
}
.main__mdpick .swiper-button-prev,
.main__mdpick .swiper-button-next {
  visibility: hidden;
}
.main__mdpick .swiper-button-prev span,
.main__mdpick .swiper-button-next span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  visibility: visible;
  display: block;
  justify-content: center;
}


/* MAIN SALE*/
.main__sale h4 {
  width: 870px;
  height: 31px;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  display: block;
  margin: 40px 0 30px 10px;
  padding: 0 15px;
}
.main__sale .content__list{
  display: block;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main__sale li .section-item {
  width: 270px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
}
.main__sale .section-item img{
  width: 270px;
  height: 180px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.main__sale .section-item .text-box {
  height: 34px;
  padding: 18px 20px;
  font-size: 13px;
}


/* MAIN SEASON*/
.main__season h4 {
  width: 870px;
  height: 31px;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  display: block;
  margin: 40px 0 30px 10px;
  padding: 0 15px;
}
.main__season .swiper-slide {
  width: 195px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.main__season .swiper-wrapper .swiper-slide img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.main__season .swiper-wrapper .swiper-slide .text-box {
  width: 195px;
  font-size: 13px;
  margin-top: 10px;
}
.main__season .swiper-wrapper .swiper-slide .text-box__title {
  font-weight: 700;
}
.main__season .swiper-wrapper .swiper-slide .text-box__info {
  margin-top: 10px;
  line-height: 1.2;
}
.main__season .swiper-button-prev,
.main__season .swiper-button-next {
  visibility: hidden;
}
.main__season .swiper-button-prev span,
.main__season .swiper-button-next span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  visibility: visible;
  display: block;
  justify-content: center;
}


/* MAIN NOTICE */
.main__notice h4 {
  width: 870px;
  height: 31px;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  display: block;
  margin: 40px 0 30px 0px;
}
.main__notice {
  width: 870px;
  margin: 0 auto;
}
.main__notice .notice_content ul{
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(5, 173px);
  justify-content: center;
  justify-items: center;
  margin-bottom: 120px;
}
.main__notice .notice_content > ul > li {
  padding: 15px 0;
}
.main__notice .notice_content ul li img{
  width: 120px;
}


/* MAIN MAGAZINE */
.main__magazine {
  margin-bottom: 100px;
}
/* LEFT */
.main__magazine .magazine__left {
  width: 370px;
  height: 172px;
}
.main__magazine .magazine__left .magazine {
  margin-top: 5px;
}
.main__magazine .magazine__left p{
  color: #333;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.main__magazine .magazine__left span{
  font-size: 13px;
  color: #8c8c8c;
  display: block;
  margin-top: 3px;
  line-height: 1.2;
}
.main__magazine .magazine__left .text-link {
  font-size: 13px;
  font-weight: 700;
  color: #333c;
  display: block;
  margin-top: 5px;
}
/* RIGHT */
.main__magazine {
  display: flex;
  justify-content: center;
}
.main__magazine .magazine__right {
  width: 500px;
  height: 172px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  list-style-type: none;
}
.main__magazine .magazine__right img {
  width: 240px;
  height: 76px;
}


/* MAIN POST IMG */
.main__post-img {
  width: 870px;
  margin: 0 auto;
}


/* MAIN FURNITURE */
.main__furniture h4 {
  width: 870px;
  height: 31px;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  display: block;
  margin: 40px 0 30px 20px;
}
.main__furniture .swiper-slide {
  display: flex;
  justify-content: center;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 70px;
}
.main__furniture .swiper-wrapper .swiper-slide img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.main__furniture .swiper-wrapper .swiper-slide .text-box {
  height: 34px;
  padding: 18px 20px;
  font-size: 13px;
}
.main__furniture .swiper-button-prev,
.main__furniture .swiper-button-next {
  visibility: hidden;
}
.main__furniture .swiper-button-prev span,
.main__furniture .swiper-button-next span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  visibility: visible;
  display: block;
  justify-content: center;
}


/* FOOTER */
footer {
  border-top: 1px solid #e1e1e1;
  background-color: #f2f2f2;
  justify-content: center;
}
/* FOOTER BUTTON */
footer .footer-btn {
  width: 109px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  padding: 6px 12px;
  text-align: center;
  box-sizing: border-box;
}
footer .footer-btn-small {
  display: inline-block;
  padding: 0 8px;
  margin: 8px 0; 
  border: 1px solid #e1e1e1;
  background-color: #fff;
  font-size: 12px;
  line-height: 22px;
  box-sizing: border-box;
}
/* FOOTER TOP */
footer .footer__top {
  border-bottom: 1px solid #e1e1e1;
  margin-top: 15px;
}
footer .footer__top .top__inner {
  height: 31px;
  padding-bottom: 12px;
  margin: 0 113px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__top .top__inner .top__menu {
  width: 950px;
  display: flex;
}
footer .footer__top .top__inner .top__menu li {
  margin-right: 20px;
  font-weight: 700;
}
/* FOOTER INNER */
footer .inner {
  padding: 30px 0 50px 0;
  margin: 0 113px;
  display: flex;
  justify-content: center;
}
footer .inner .logo__area {
  width: 116px;
  height: 250px;
  margin-right: 48px;
}
footer .inner .logo__area img {
  width: 155px;
  height: 36px;
}
footer .inner .content__area {
  width: 896px;
  height: 250px;
}
footer .menu {
  width: 896px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
footer .menu li a.bold{
  font-weight: 700;
}
footer .content-wrapper {
  display: flex;
  justify-content: center;
}
/* FOOTER INNER LEFT */
footer .content__left {
  width: 80%;
}
footer .info {
  height: 97px;
}

footer .customer-center {
  height: 44px;
  margin-top: 20px;
}
footer .customer-center .number {
  color: #444;
  text-decoration: underline;
  display: inline-block;
}

footer .customer-center .email {
  color: #444;
  margin: 0 6px;
  display: inline-block;
}
/* FOOTER INNER RIGHT */
footer .content__right {
  width: 343px;
  padding-left: 36px;
  border-left: 1px solid #e1e1e1;
}
footer .content__right .guide{
  margin-bottom: 10px ;
}
footer .content__right .title {
  margin-right: 8px;
  color: #444;
}
footer .content__right .guarantee .content{
  width: 343px;
  margin-top: 16px;
  display: block;
}
/* FOOTER INNER BOTTOM */
footer .copyright {
  color: #333333;
  margin-top: 12px;
}
